<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <canvas id="debug"></canvas>

    <script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>
    <script src="../Model/Extensions/IJS.Image+resizingData.js"></script>
    <script src="../Model/Extensions/IJS.Image+fill.js"></script>
    <script src="../Model/Extensions/IJS.Image+fit.js"></script>
    <script src="../Model/sources.js"></script>
    <script src="../Model/Generator.js"></script>
</body>
</html>