<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <section>
            <h3>Page</h3>
            <div class="options"> 
                <div class="labels" style="height: 90px;">
                    <label for="page-width">Width: </label>
                    <label for="page-height">Height: </label>
                    <label for="page-margin">Margin: </label>
                </div>
                <div class="inputs" style="height: 90px;">
                    <input id="page-width" type="text">  
                    <input id="page-height" type="text"> 
                    <input id="page-margin" type="text"> 
                </div>    
            </div>
        </section>
        <section>
            <h3>Content</h3>
            <div class="options"> 
                <div class="labels" style="height: 202.5px;">
                    <label for="content-width">Width: </label>
                    <label for="content-height">Height: </label>
                    <label for="content-count">Count: </label>
                    <label for="content-spacing">Spacing: </label>
                    <label for="content-each">Each: </label>
                    <label for="content-dpi">dpi: </label>
                    <label for="content-fit">Fit: </label>
                </div>
                <div class="inputs" style="height: 202.5px;">
                    <input id="content-width" type="text">  
                    <input id="content-height" type="text"> 
                    <input id="content-count" type="text"> 
                    <input id="content-spacing" type="text">  
                    <input id="content-each" type="text"> 
                    <input id="content-dpi" type="text"> 
                    <input id="content-fit" type="checkbox"> 
                </div>   
            </div>
            <section class="tab" style="margin-top: 10px;">
                <h4>Bleed</h4>
                <div class="options"> 
                    <div class="labels" style="height: 110px;">
                        <label for="content-bleed-width">Width: </label>
                        <label for="content-bleed-type-mirror">Mirror:</label>
                        <label for="content-bleed-type-edge">Edge:</label>
                        <label for="content-bleed-type-inset">Inset:</label>

                    </div>
                    <div class="inputs" style="height: 110px;">
                        <input id="content-bleed-width" type="text"> 
                        <input type="radio" name="bleed" id="content-bleed-type-mirror" value="mirror"> 
                        <input type="radio" name="bleed" id="content-bleed-type-edge" value="edge">
                        <input type="radio" name="bleed" id="content-bleed-type-inset" value="inset">

                    </div>   
                </div>
            </section> 
        </section>
        <section>
            <h3>Marks</h3>
            <div class="options"> 
                <div class="labels" style="height: 80px;">
                    <label for="marks-length">Length: </label>
                    <label for="marks-offset">Offset: </label>
                    <label for="marks-shown">Shown: </label>
                </div>
                <div class="inputs" style="height: 80px;">
                    <input id="marks-length" type="text">  
                    <input id="marks-offset" type="text"> 
                    <input id="marks-shown" type="checkbox"> 
                </div>   
            </div>
        </section>
    </nav>
    <main>
        <div id="preview-container">
            <canvas id="preview">

            </canvas>
        </div>
        <div id="originals">
            <div id="add-original-button" class="original-container" onclick="addOriginalButtonClick()">
                <img id="add-original-button-icon" src="../assets/plus.svg" style="fill: white;" >
            </div>
        </div>
    </main>
    <div id="preview-stepper">
        <img class="carret left-carret" src="../assets/carret-right.svg" onclick="decreasePage()">
        <div id="original-index-node"><span id="original-index">0</span>/<span id="original-count">0</span></div>
        <img class="carret" src="../assets/carret-right.svg" onclick="increasePage()">
    </div>

    <input id="original-uploader" type="file" accept="image/*,.pdf,.tiff,.svg" multiple>

    <div id="notification-container">
        <div id="notification-background"></div>
        <div id="notification">
            <div id="notification-message"></div>
            <div id="notification-status-container">
                <div id="notification-status-progress"></div>
            </div>
        </div>
    </div>

    <script src="../lib/image-js/image.js"></script>
    <script src="../lib/tiff.js"></script>
    <script src="../lib/pdf-js/build/pdf.js"></script>
    <script src="../Model/Extensions/IJS.Image+resizingData.js"></script>
    <script src="../Model/Extensions/IJS.Image+fill.js"></script>
    <script src="../Model/Extensions/IJS.Image+fit.js"></script>
    <script src="../Model/sources.js"></script>
    <script src="../Model/Generator.js"></script>
    <script src="../Model/Binding.js"></script>
    <script src="../ViewModel/ExhibitViewModel.js"></script>
</body>
</html>