* {
    box-sizing: border-box;
}
body {
    display: flex;
    overflow: hidden;
    color: #e0e0e0;
    font-family: 'Urbanist', sans-serif;
}
h3 {
    margin: 0;
    padding: 0;
}
input[type=text] {
    height: 23px;
    width: 70px;
    background-color: #505050;
    border: 1px solid #969696;
    color: white;
    padding-left: 5px;
    border-radius: 4px;
}
input[type=checkbox] {
    height: 15px;
    width: 15px;
    margin: 4px 0px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
input[type=radio] {
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 23px;
}
input:focus {
    outline: none;
}
label {
    padding: 0;
    margin: 0;
    height: 23px;
    cursor: pointer;
    user-select: none;
}
section > * {
    margin: 5px 0px;   
}

section {
    margin-top: 20px;
}
h4 {
    margin: 0;
    margin-top: 0 !important;
    padding: 0;
}
.tab {
    margin-left: 20px;
}
.options {
    display: flex;
    margin-top: 10px;
}
nav {
    width: 270px;
    height: 100vh;

    padding: 10px;
    padding-left: 25px;

    background-color: #383838;

    border-right: 1px solid #646464;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
main {
    width: calc(100vw - 272px);
    height: 100vh;
    background-color: #2e2e2e;

    margin-left: 2px;

    border-left: 1px solid #646464;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
}
#preview-container {
    width: 100%;
    height: calc(100% - 150px);

    display: flex;
    justify-content: center;
    align-items: center;
}
#originals {
    width: 100%;
    height: 150px;
    background-color: #383838;
    border-top: 1px solid #646464;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* overflow: auto;
    white-space: nowrap; */
    padding: 15px;
    overflow-x: scroll;
    display: flex;
}
.original-container {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    background-color: #494949;
    cursor: pointer;
    margin-right: 10px;
    flex-shrink: 0
}
#add-original-button-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.dark {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 0;
}
.original-container > .trash {
    filter: invert(1);
    width: 50%;
    transform: translate(50%, -140%);  
    z-index: 1;
}
#original-uploader {
    display: none;
}
#preview-stepper {
    position: absolute;
    opacity: 0;
    bottom: 190px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #646464;
    left: calc(50% + 135px);
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.46);
}
.carret {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.left-carret {
    transform: rotate(180deg)
}
#notification-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;

}
#notification-background {
    width: 100vw;
    height: 100vh;
    position: absolute;

    background-color: black;
    opacity: 0.75;
}
#notification {
    width: 325px;
    height: 80px;
    background-color: rgb(247, 247, 247);
    position: absolute;
    left: 50%;
    border-radius: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: black;
}
#notification-status-container {
    width: 285px;
    height: 5px;
    border-radius: 3.5px;
    background-color: rgb(170, 170, 170);
    display: flex;
}
#notification-message {
    max-width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#notification-status-progress{
    border-radius: 3.5px;
    height: 100%;
    background-color: #256a85;
}