<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <section>
            <h3>Page</h3>
        </section>
        <section>
            <h3>Content</h3>
        </section>
        <section>
            <h3>Marks</h3>
        </section>
    </nav>
    <main>
        <div id="preview-container">
            <canvas id="preview">

            </canvas>
        </div>
        <div id="originals">
            
        </div>
    </main>



    <script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>
    <script src="../Model/Extensions/IJS.Image+resizingData.js"></script>
    <script src="../Model/Extensions/IJS.Image+fill.js"></script>
    <script src="../Model/Extensions/IJS.Image+fit.js"></script>
    <script src="../Model/sources.js"></script>
    <script src="../Model/Generator.js"></script>
    <script src="../Model/Binding.js"></script>
    <script src="../ViewModel/ExhibitViewModel.js"></script>
</body>
</html>