body {
    margin: 0;
    padding: 0;

    background-color: rgb(44, 44, 44);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #696969;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(231, 231, 231);
}

.dimmed {
    filter: brightness(0.65);
}
